apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "wiremock.fullname" . }}-responses-configs
  labels:
    {{- include "wiremock.labels" . | nindent 4 }}
data:
  {{- $files := .Files }}
  {{- range $key, $value := .Files }}
  {{- if hasPrefix "responses/" $key }} {{/* only when in responses/ */}}
  {{ $key | trimPrefix "responses/" }}: {{ $files.Get $key | quote }} {{/* adapt $key as desired */}}
  {{- end }}
  {{- end }}
  {{- with .Values.responses }}
  {{- toYaml . | nindent 2 }}
  {{- end }}